<!-- app/templates/user/reset/email_form.html -->
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %} Password reset {% endblock %}
{% block body %}
<div id="top" class="section main">
    <div class="container">
        <div class="row">
            {{ utils.flashed_messages() }}
        </div>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                <h1 class="h1_center">Send password reset email to:</h1>
                <hr class="intro-divider">
                {{ wtf.quick_form(form, button_map={'submit':'btn btn-primary center-block btn-lg'}) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}